
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "Tender Tracking &amp; Management System".html_safe, root_path, :class=>"navbar-brand" %>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">

    <% if user_signed_in? %>   
    <!-- Logout link when user is signed in -->

      <% if current_user.role==User::ROLE[1] %>
        <!-- Applicant specific header -->
        <%= render "layouts/shared/applicant_header" %>
      <% elsif current_user.role==User::ROLE[2] %>  
        <!-- Issuer specific header -->
        <%= render "layouts/shared/issuer_header" %>
      <% end %>
      <li><%= link_to "Portfolio", projects_path %></li>
      <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      
    <% else %>
    <!-- Login/Signup when user is not logged in -->

      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>

    <% end %>


  </ul>
</div>