Hi <%= @issuer.full_name %>,
<br><br>

<p>
You have received an application by <%= @applicant.full_name %> on your tender <%= @tender.title %>.<br>
Please check following details about application.
</p>

<br><br>

<p>
	<table>
		<tr>
			<td> Applicant Name : </td>
			<td> <%= @applicant.full_name %> </td>
		</tr>
		<tr>
			<td> Cover: </td>
			<td> <%= @application.cover %> </td>
		</tr>
		<tr>	
			<td> Proposal : </td>
			<td> <%= @application.proposal.html_safe %> </td>
		</tr>
		<tr>
			<td> Estimated Budget : </td>
			<td> <%= @application.estimated_budget %> </td>
		</tr>
		<tr>
			<td> Estimated Duration : </td>
			<td> <%= @application.estimated_time %> </td>
		</tr>
	</table>
</p>	

<br><br>

<p>
	Thanks.<br>
	<b>Team TMS</b>
</p>

