<%= f.hidden_field :user_id %>

	<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, :class => "form-control", :placeholder => "Title of Tender" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.cktext_area :description, :class => "form-control", :placeholder => "Write something about your project to inform applicants about your project." %>
</div>

<div class="form-group">
  <%= f.label :minimum_budget %>
  <em> (Place minimum budget to allow applicants in their applications.)</em>
  <%= f.text_field :minimum_budget, :class => "form-control width200", :placeholder => "Currency will be in INR" %> 
</div>

<div class="form-group">
  <%= f.label :start_date %>
  <%= f.date_field :start_date, :class => "form-control width200", :placeholder => "yyyy/mm/dd" %>
</div>

<div class="form-group">
  <%= f.label :end_date %>
  <%= f.date_field :end_date, :class => "form-control width200", :placeholder => "yyyy/mm/dd" %>
</div>

<div class="form-group">
  <%= f.label :notice_duration %>
  <%= f.text_field :notice_duration, :class => "form-control", :placeholder => "Write number of days to inform users before your tender becomes publically available" %>
</div>
