<div class="container pt">
	<div class="row">  
 	  <div class="col-lg-8 col-lg-offset-2">  
			<h3>Edit Tender <%= @tender.title %></h3>
		</div>	
	</div>

  <div class="row mt">  
    <div class="col-lg-8 col-lg-offset-2">  

    	<%= form_for @tender, :html => {:role=>"form",:multipart => true} do |f| %>

        <%= render "tenders/tender_form", :f => f %>
    		
        <%= link_to "< Back", :back %>
        <div class="actions pull-right">
        	<%= f.submit "Update", :class => "btn btn-success" %>
      	</div>	

     <% end %>

    </div>
  </div>

</div>
