<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#all" aria-controls="home" role="tab" data-toggle="tab">All Tenders</a>
    </li>
    <li role="presentation">
      <a href="#available" aria-controls="messages" role="tab" data-toggle="tab">Active Tenders</a>
    </li>
    <li role="presentation">
      <a href="#older" aria-controls="profile" role="tab" data-toggle="tab">Previous Tenders</a>
    </li>
    <li role="presentation">
      <a href="#upcoming" aria-controls="settings" role="tab" data-toggle="tab">Upcoming Tenders</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="all">
      <div class="row">
        <div class="col-lg-12">  
          <br>
          <table class="table table-striped">
            <th>Index</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Minimum Budget</th>
            <th>Notice Duration</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
            <% @all_tenders.each_with_index do |tender,index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= tender.title %></td>
                <td><%= tender.start_date.strftime("%d %b %Y") %></td>
                <td><%= tender.end_date.strftime("%d %b %Y") %></td>
                <td><%= tender.minimum_budget %></td>
                <td><%= tender.notice_duration %> days</td>
                <td>
                  <%= link_to tender_path(tender.id) do %>  
                    <span class="glyphicon glyphicon-list-alt glyphicon-size-small"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_tender_path(tender.id) do %>  
                    <span class="glyphicon glyphicon-edit glyphicon-size-small"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to tender_path(tender.id), :method => :delete do %>  
                    <span class="glyphicon glyphicon-trash glyphicon-size-small"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="available">
      <div class="row">
        <div class="col-lg-12">
          <br>  
          <table class="table table-striped">
            <th>Index</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Minimum Budget</th>
            <th>Notice Duration</th>
            <% @available_tenders.each_with_index do |tender,index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= tender.title %></td>
                <td><%= tender.start_date.strftime("%d %b %Y") %></td>
                <td><%= tender.end_date.strftime("%d %b %Y") %></td>
                <td><%= tender.minimum_budget %></td>
                <td><%= tender.notice_duration %> days</td>
              </tr>
            <% end %>
          </table>  
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="older">
      <div class="row">
        <div class="col-lg-12">  
            <br>
          <table class="table table-striped">
            <th>Index</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Minimum Budget</th>
            <th>Notice Duration</th>
            <% @previous_tenders.each_with_index do |tender,index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= tender.title %></td>
                <td><%= tender.start_date.strftime("%d %b %Y") %></td>
                <td><%= tender.end_date.strftime("%d %b %Y") %></td>
                <td><%= tender.minimum_budget %></td>
                <td><%= tender.notice_duration %> days</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="upcoming">
      <div class="row">
        <div class="col-lg-12">  
            <br>
          <table class="table table-striped">
            <th>Index</th>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Minimum Budget</th>
            <th>Notice Duration</th>
            <% @upcoming_tenders.each_with_index do |tender,index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= tender.title %></td>
                <td><%= tender.start_date.strftime("%d %b %Y") %></td>
                <td><%= tender.end_date.strftime("%d %b %Y") %></td>
                <td><%= tender.minimum_budget %></td>
                <td><%= tender.notice_duration %> days </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>