<div class="container pt">
	<div class="row">  
 	  <div class="col-lg-8 col-lg-offset-2">  
			<h3>New Project for My Portfolio</h3>
		</div>	
	</div>

  <div class="row mt">  
    <div class="col-lg-8 col-lg-offset-2">  

    	<%= form_for @project, :html => {:role=>"form",:multipart => true} do |f| %>

    		<%= render "form", :f => f %>

        <div class="form-group">
          <%= label_tag "Image" %>
          <%= file_field_tag :image %>
        </div>

        <%= link_to "Back", :back %>
        <div class="actions pull-right">
        	<%= f.submit "Update", :class => "btn btn-success" %>
      	</div>	

     <% end %>

    </div>
  </div>

</div>
