<div class="container">
	<div class="row">  
 	  <div class="col-lg-8 col-lg-offset-2">  
			<h3>My Project : <%= @project.title %></h3>
		</div>	
	</div>

  <div class="row mt">  
    <div class="col-lg-8 col-lg-offset-2">  

		  <% @project_images.each do |image| %>
		  	<div class="thumbnail">
		  		<%= image_tag image.image.url  %>
		  	</div>
			<% end %>	
		
			<div class="bs-callout bs-callout-theme">
			  <h4>Project Description</h4>
			  <p><%= @project.description.html_safe %></p>
			</div>		

			<div class="bs-callout bs-callout-theme">
			  <h4>Dates</h4>
			  <p><%= @project.start_date.strftime("%B %d, %Y") %> - <%= @project.end_date.strftime("%B %d, %Y") %></p>
			</div>

			<div class="bs-callout bs-callout-theme">
			  <h4>Project Budget</h4>
			  <p><%= @project.budget %></p>
			</div>

			<div class="bs-callout bs-callout-theme">
			  <h4>About Associated People to this project</h4>
			  <p><%= @project.associated_people %></p>
			</div>

			<%= link_to "< back", :back %>

			<% if @project.belongs_to?(current_user.id) %>

				<%= button_to "Delete Project", project_path(@project.id), :method=>"delete", :class=>"btn btn-danger pull-right", data: {confirm: "Are you sure to delete this project?"} %>

				<%= button_to "Edit Project", edit_project_path(@project.id) , :method=>"get", :class=>"btn btn-default pull-right mrgrht10" %>

			<% end %>

		</div>
	</div>
</div>